[Unit]
Description=FirstBoot-early
After=local-fs.target
ConditionFileNotEmpty=/opt/thinclient/install/firstboot-early.sh

[Service]
ExecStart=/opt/thinclient/install/firstboot-early.sh
ExecStartPost=/bin/mv /opt/thinclient/install/firstboot-early.sh /opt/thinclient/install/firstboot-early.sh.done
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
